# === Kompilierte Binaries ===
*.out
*.o
*.obj
*.exe
*.a
*.so
*.dll
*.dylib
*.xml
.idea/

# === Standard Output-Dateien von g++ oder clang++ ===
a.out
main.cpp

# === Build-Ordner (z. B. bei CMake oder Make) ===
build/
bin/
lib/
.metadata/

# === VS Code Projektdateien ===
.vscode/
vsc.bat

# === Temporäre Dateien ===
*~
*.log

# === macOS spezifisch ===
.DS_Store

# === Backup-Dateien ===
*.bak
*.swp

# others
.metadata
vsc.bat
.cproject
vc140.pdb
CMakeFiles
Testing/Temporary
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
tests[1]_include.cmake
tests
tests[1]_tests.cmake
tests[1]_include.cmake
